<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    
    {% block head %}
    <title>Vinicius</title>
    {% endblock %}
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Aulas</a>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>